*{
    --input-active-color:'grey';
    --window-color-1: #27303e;
    --window-color-2: #1d2631;
    --window-color-3: #2e3c49;
    --grennan-green:#28b04a;
    --grennan-orange:#F25A23;
    font-family: helvetica;
    font-weight: lighter;
}

/* width */
::-webkit-scrollbar {
    width: 3px;
    height:3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    display:none;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

#maincontent{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-color: var(--window-color-2);
}


input[type=text]:focus{
    background:var(--input-active-color);
    color:white;
}
